*{
    box-sizing: border-box;
    padding: 0px 0px;
    margin:0;
    background-color: #d2dbdd;
}

.heading_style{
    padding:30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: #fff;
    font-size: 1.5rem;
    margin-bottom: 3px;
}

.slotMachine{
    border:1px solid grey;
    width: 30%;
    margin:30px auto;

}

.slot_inner{
    text-align: center;
    margin:12px;
}
.btn{
    text-align: center;
    font-size: 1.4rem;
    color:black;
    outline: none;
    display: block;
    width:15%;
    margin:auto;
    padding:8px 7px;
    border:2px solid red;
    cursor: pointer;
}
.btn:hover{
    color:red;
    border:2px solid black;
}